//! @each at-rules with list
$sizes: 8, 16, 20;

@each $size in $sizes {
    .p-#{$size} {
        padding: #{$size}px;
    }
} 

//! @each at-rules with map
$spasers: (
    "ms": 24,
    "md": 32,
    "lg": 36,
    "xl": 68,
);

@each $key, $value in $spasers {
    .margin-#{$key} {
        margin: #{$value}px;
    }
}

//* next code