.box {
  width: 620px;
  width: -webkit-calc(600px - 20%);
  width: -moz-calc(600px - 20%);
  width: calc(600px - 20%);
}

.box {
  width: 1200px;
  width: 1250px;
  width: 1300px;
  width: 120px;
  width: 120px;
  width: 130px;
}

.box {
  margin: 200px;
  margin: -webkit-calc(margin * 2%);
  margin: -moz-calc(margin * 2%);
  margin: calc(margin * 2%);
}

.box {
  margin: 100px;
}